extends components/master.pug

block content
  // summary boxes
  .row
    // Testability Index
    .col-lg-12.col-md-12.col-xs-12
      .small-box.bg-green
        .inner
          h3
            | 89
          p Testability Index
        .icon
          i.fas.fa-check-circle
        a.small-box-footer(href='#')
          | More info&nbsp;
          i.fa.fa-arrow-circle-right
    .col-lg-4.col-xs-12
      .small-box(class=classes.assertionsTestRatio.backgroundClass)
        .inner
          h3
            | #{analysis.assertionsTestRatio}
          p Avg. Assertions/Test
        .icon
          i.fas(class=classes.assertionsTestRatio.iconClass)
        a.small-box-footer(href='#')
          | More info&nbsp;
          i.fa.fa-arrow-circle-right
    .col-lg-4.col-xs-12
      .small-box(class=classes.testsMethodRatio.backgroundClass)
        .inner
          h3
            | #{analysis.testsMethodRatio}
          p Avg Tests/Method
        .icon
          i.fas(class=classes.testsMethodRatio.iconClass)
        a.small-box-footer(href='#')
          | More info&nbsp;
          i.fa.fa-arrow-circle-right
    .col-lg-4.col-xs-12
      .small-box(class=classes.percentTestsPassing.backgroundClass)
        .inner
          h3
            | #{analysis.percentTestsPassing}
            sup(style='font-size: 20px') %
          p Tests Passing
        .icon
          i.fas(class=classes.percentTestsPassing.iconClass)
        a.small-box-footer(href='#')
          | More info&nbsp;
          i.fa.fa-arrow-circle-right
  .row
    .col-xs-12
      .box.box-success
        .box-header
          h3.box-title Statistics
        .box-body
          .col-lg-3.col-xs-6
            .small-box(class=classes.tests.backgroundClass)
              .inner
                h3
                  | #{stats.tests.number}
                p Tests
              .icon
                i.fas(class=classes.tests.iconClass)
          .col-lg-3.col-xs-6
            .small-box(class=classes.assertions.backgroundClass)
              .inner
                h3
                  | #{stats.assertions}
                p Assertions
              .icon
                i.fas(class=classes.assertions.iconClass)
          .col-lg-3.col-xs-6
            .small-box(class=classes.coverage.backgroundClass)
              .inner
                h3
                  | #{stats.coverage}
                  sup(style='font-size: 20px') %
                p Code Coverage
              .icon
                i.fas.fa-times-circle
          .col-lg-3.col-xs-6
            .small-box.bg-aqua
              .inner
                h3
                  | #{stats.time}
                p Execution Time
              .icon
                i.fas.fa-question-circle
          .col-lg-3.col-xs-6
            .small-box(class=classes.lines.backgroundClass)
              .inner
                h3
                  | #{stats.lines.executed}/#{stats.lines.executable}
                  sup(style="font-size:20px") (#{stats.lines.percent}%)
                p Lines of Code Tested
              .icon
                i.fas.fa-times-circle
          .col-lg-3.col-xs-6
            .small-box(class=classes.methods.backgroundClass)
              .inner
                h3
                  | #{stats.methods.executed}/#{stats.methods.executable}
                  sup(style="font-size:20px") (#{stats.methods.percent}%)
                p Methods Tested
              .icon
                i.fas(class=classes.methods.iconClass)
          .col-lg-3.col-xs-6
            .small-box(class=classes.classes.backgroundClass)
              .inner
                h3
                  | #{stats.classes.executed}/#{stats.classes.executable}
                  sup(style="font-size:20px") (#{stats.classes.percent}%)
                p Classes Tested
              .icon
                i.fas(class=classes.classes.iconClass)
          .col-lg-3.col-xs-6
            .small-box(class=classes.traits.backgroundClass)
              .inner
                h3
                  | #{stats.traits.executed}/#{stats.traits.executable}
                  sup(style="font-size:20px") (#{stats.traits.percent}%)
                p Traits Tested
              .icon
                i.fas(class=classes.traits.iconClass)
  .row
    .col-xs-12
      .box.box-success
        .box-header
          h3.box-title Bordered Table
        .box-body
          table.table.table-striped
            thead
              tr
                th.col-xs-1.text-center #
                th.col-xs-7 Class
                th.col-xs-1.text-center Assertions
                th.col-xs-1.text-center Time
                th.col-xs-2.text-center Tests
            tbody
              each test, index in tests
                tr
                  td.text-center #{index + 1}
                  td #{test.class}
                  td.text-center #{test.assertions}
                  td.text-center #{test.time}
                  td.text-center
                    .progress.progress-xs
                      .progress-bar.progress-bar-success(style='width: '+test.testsPercentage.passed+'%', title=test.testsPercentage.passed+'%')
                        | #{test.tests.passed} Passed
                      if test.tests.skipped > 0
                        .progress-bar.progress-bar-warning(style='width: '+test.testsPercentage.skipped+'%', title=test.testsPercentage.skipped+'%')
                          | #{test.tests.skipped} Skipped
                      if test.tests.failures > 0
                        .progress-bar.progress-bar-danger(style='width: '+test.testsPercentage.failures+'%', title=test.testsPercentage.failures+'%')
                          | #{test.tests.failures} Failed
                      if test.tests.errors > 0
                        .progress-bar.progress-bar-danger(style='width: '+test.testsPercentage.errors+'%', title=test.testsPercentage.errors+'%')
                          | #{test.tests.errors} Errors
        .box-footer.clearfix